backEnd/node_modules/
frontend/node_modules/
pemFIle/
backEnd/.env
frontend/.env
backEnd/dist/
backEndTestMicroService/src/main/resources/application-dev.properties
backEndTestMicroService/src/main/resources/application.properties
