<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Specify the pattern and color options for different log levels -->
            <pattern>%cyan(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %yellow(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the root logger to use the CONSOLE appender -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
