@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  /* background-color: #1f2026; */
  background-color: #fff;
}

.flashCardHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  padding: 0 0.5rem;
  gap: 1rem;
}

.form-group {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.form-group > label {
  color: #777;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.flashcardGenerateButton {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}

.flashcardGenerateButton:hover {
  background-color: hsl(200, 100%, 40%);
}
